body { 
  background: url(home_bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron{
	background: none;
}
.jumbotron a{
	color: #fff;
	text-decoration: none;
}
.jumbotron button{
  font-family: Raleway;
  font-size: 25px;
  height: 80px;
  width: 170px;
  max-width: 100%;
  margin-right:20px;
  margin-left:20px;
}

header {
  padding: 5px;
  color: #fff;
  font-family: Raleway;
}

header .row{
  display: flex;
  align-items: center;
}

 header a{
	color: #fff;
	text-decoration: none;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}