.jumbotron {
  display: flex;
  align-items: center;
  background: none;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
}
.jumbotron img{
  mix-blend-mode: multiply;
  background: none;
}
.jumbotron a{
  height: 35px;
  width: 75px;
}
body { 
  background: url(home_bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}