.jumbotron {
  display: flex;
  align-items: center;
  background: none;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}
.jumbotron img{
  mix-blend-mode: multiply;
  background: none;
  max-width: 100%;
  width: 350px; 
  height: 200px;
}
.jumbotron a{
  font-size: 30px;
  height: 35px;
  width: 150px;
  max-width: 100%;
  height: auto;
  width: auto\9;
  margin-right:20px;
  margin-left:20px;
}

body { 
  background: url(home_bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}