<!DOCTYPE html>
<html>
  <head>
    <title>sCUrt</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/edit.css">
  </head>
  <body>
    <header class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="../static/logo.png" width="180" height="60">
      </div>
      <div class="col-sm-4 text-center">
          <p>
            Welcome, {{ session['user_name'] }}!
          </p>
      </div>
      <div class="col-sm-4 text-right">
        <nav>
          <p>
            <a href="/edituser">Edit Profile</a>
          </p>
          <p>
            <a href="/signout">Sign Out</a>
          </p>
        </nav>
      </div>
    </div>
      </section>
  </body>
</html>
