<!DOCTYPE html>
<html>
<head>
  <title>sCUrt</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" type="text/css" href="../static/login.css">
</head>
<body>
  <header class="container">
    <div class="row">
      <div class="col-sm-4">
        <a href="/login_landing">
          <img src="../static/logo.png" width="180" height="60">
        </a>
      </div>
      <div class="col-sm-4 text-center">
          <p>
            Welcome, {{ session['user_name'] }}!
          </p>
      </div>
      <div class="col-sm-4 text-right">
        <nav>
          <p>
            <a href="/edit_user">Edit Profile</a>
          </p>
          <p>
            <a href="/signout">Sign Out</a>
          </p>
        </nav>
      </div>
    </div>
  </header>
  <section class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <button type='button' class="btn btn-primary" id="addcar">
          <a href="/add_car">List Car</a>
        </button>
        <button type='button' class="btn btn-primary" id="updatecar">
          <a href="/update_car">Update Car</a>
        </button>
        <button type='button' class="btn btn-primary" id="schedulecar">
          <a href="/schedule_car">Schedule Car</a>
        </button>
      </div>
      <br/>
      <div class="row text-center">
        <button type='button' class="btn btn-primary" id="rentcar">
          <a href="/rent_car">Rent Car</a>
        </button>
        <button type='button' class="btn btn-primary" id="tripplanner">
          <a href="/trip_planner">Trip Planner</a>
        </button>
        <button type='button' class="btn btn-primary" id="writereview">
          <a href="/write_review">Write Review</a>
        </button>
      </div>
    </div>
  </section>
</body>
</html>
