<!DOCTYPE html>
<html>
<head>
  <title>Login Landing</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" type="text/css" href="../static/login.css">
</head>
<body>
  <header class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="../static/logo.png" width="180" height="60">
      </div>
      <div class="col-sm-4 text-center">
          <p>
            Welcome, {{ g.user_name }}!
          </p>
      </div>
      <div class="col-sm-4 text-right">
        <nav>
          <p>
            <a href="/edituser">Edit Profile</a>
          </p>
          <p>
            <a href="/signout">Sign Out</a>
          </p>
        </nav>
      </div>
    </div>
  </header>
  <section class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <button type='button' class="btn btn-primary" id="addcar">
          <a href="/addcar">List Car</a>
        </button>
        <button type='button' class="btn btn-primary" id="updatecar">
          <a href="/editcar">Update Car</a>
        </button>
        <button type='button' class="btn btn-primary" id="schedulecar">
          <a href="/schedulecar">Schedule Car</a>
        </button>
      </div>
      <br/>
      <div class="row text-center">
        <button type='button' class="btn btn-primary" id="rentcar">
          <a href="/rentcar">Rent Car</a>
        </button>
        <button type='button' class="btn btn-primary" id="tripplanner">
          <a href="/tripplanner">Trip Planner</a>
        </button>
        <button type='button' class="btn btn-primary" id="writereview">
          <a href="/writereview">Write Review</a>
        </button>
      </div>
    </div>
  </section>
</body>
</html>
