<!DOCTYPE html>
<html>
<head>
  <title>Login Landing</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" type="text/css" href="../static/login.css">
</head>
<body>
  <header class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="../static/logo.png" width="250" height="80">
      </div>
      <div class="col-sm-4 text-center">
          <p> 
            Welcome, user 
          </p>
      </div>
      <div class="col-sm-4 text-right">
        <nav>
          <p> 
            <a href="index.html">Edit Profile</a>
          </p>
          <p> 
            <a href="index.html">Sign Out</a> 
          </p>
        </nav>
      </div>
    </div>
  </header>
  <section class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <button type='button' class="btn btn-primary" id="addcar">
          <a href="index.html">Add Car</a>
        </button>
        <button type='button' class="btn btn-primary" id="schedcar">
          <a href="index.html">Schedule Car</a>
        </button>
      </div>
      <br/>
      <div class="row text-center">
        <button type='button' class="btn btn-primary" id="editcar">
          <a href="index.html">Edit Car</a>
        </button>
        <button type='button' class="btn btn-primary" id="bookcar">
          <a href="index.html">Book Car</a>
        </button>
      </div>
    </div>
  </section>
</body>
</html>